:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Light-grayish-blue);
    margin-top: 1rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
    gap: 30px;
    width: 87%;
    max-width: 1110px;
}

.grid-child {
    border-radius: 8px;
    padding: 26px 32px;
}

@media (min-width: 75rem) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            'daniel daniel jonathan kira'
            'jeanette patrick patrick kira';
    }
    .daniel {
        grid-area: daniel;
    }
    .jonathan {
        grid-area: jonathan;
    }
    .jeanette {
        grid-area: jeanette;
    }
    .patrick {
        grid-area: patrick;
    }
    .kira {
        grid-area: kira;
    }
}

.daniel {
    background-color: var(--Moderate-violet);
}

.jonathan {
    background-color: var(--Very-dark-grayish-blue);
    
}

.jeanette, .kira {
    background-color: var(--White);
    color: var(--Very-dark-grayish-blue); 
    box-shadow: 1px 1px 20px hsl(0, 0%, 81%);  
}

.patrick {
    background-color: var(--Very-dark-blackish-blue);   
}

.daniel, .jonathan, .patrick {
    color: var(--White);
}

.daniel .secondary-text {
    color: var(--Light-gray);
}

.patrick .main-text {
    color: var(--Light-grayish-blue);
}

@media (min-width: 75rem) {
    .grid-child:hover {
        cursor: pointer;
        transition: transform 500ms ease-in-out;
    }
    .daniel:hover {
        transform: translate(-8px, -8px);
    }
    .jonathan:hover {
        transform: translateY(-8px);
    }
    .jeanette:hover {
        transform: translate(-8px, 8px);
    }
    .patrick:hover {
        transform: translateY(8px);
    }
    .kira:hover {
        transform: translateX(8px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.5;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 1.125rem;
}

.profile-picture {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1rem;
}

.daniel .profile-picture {
    width: calc(1.75rem + 2px);
    height: calc(1.75rem + 2px);
    border: 2px solid #a775f1;
}

.patrick .profile-picture {
    width: calc(1.75rem + 2px);
    height: calc(1.75rem + 2px);
    border: 2px solid #733fc8;
}

.profile-text-name {
    font-size: 0.8125rem;
}

.profile-text-subtext {
    font-size: 0.6875rem;
    opacity: 0.5;
}

.main-text {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
}

.secondary-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

footer {
    margin-top: 2rem;
}

@media (min-width: 75rem) {
    body {
        margin-top: 0;
    }
    footer {
        margin-top: -14px;
    }
}

/* mobile animation */

@keyframes fade-in-mobile {
    0% {
        opacity: 0.5;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@media (max-width: 74.99rem) {
    .grid-child {
        animation: fade-in-mobile linear;
        animation-timeline: view();
        animation-range: 0 40vh;
        transform-origin: 25% 0;
    }
}

/* desktop animation */

@keyframes daniel-load {
    0% {
        transform: translateX(-1000px);
    }
    90% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes jonathan-load {
    0% {
        transform: translateY(-1000px);
    }
    90% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jeanette-load {
    0% {
        transform: translate(-1000px, 1000px);
    }
    90% {
        transform: translate(20px, -20px);
    }
    93% {
        transform: translate(0);
    }
    96% {
        transform: translate(15px, -15px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes patrick-load {
    0% {
        transform: translateY(1000px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes kira-load {
    0% {
        transform: translateX(1000px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 75rem) {
    .grid-child {
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    .daniel {
        animation: daniel-load 350ms;
    }
    .jonathan {
        animation: jonathan-load 150ms;
    }
    .jeanette {
        animation: jeanette-load 4000ms;
    }
    .patrick {
        animation: patrick-load 450ms;
    }
    .kira {
        animation: kira-load 300ms;
    }
}